<div class="content-wrapper">
  <h3>Eredmények</h3>

  <div class="controls">
    <button nz-button
            nzType="primary"
            (click)="addRandomNumbers()"
    >1000 db szám hozzáadása</button>

    <label for="chunkSize">Feldolgozási méret:</label>
    <input id="chunkSize"
           nz-input
           type="number"
           [nzStepperless]="false"
           step="100"
           min="100"
           max="10000"
           [(ngModel)]="chunkSize"
    >
  </div>

  <div class="table-wrapper">
    <nz-table id="results"
              #resultsTable
              [nzData]="results"
              nzShowPagination
              nzShowSizeChanger>
      <thead>
      <tr>
        <th>Mennyiség</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Átlag</th>
        <th>Medián</th>
        <th>Szórás</th>
      </tr>
      </thead>

      <tbody>
        @for (result of resultsTable.data; track result.id) {
          <tr>
            <td>{{ result.count }} db szám alapján</td>
            <td>{{ result.min }}</td>
            <td>{{ result.max }}</td>
            <td>{{ result.mean }}</td>
            <td>{{ result.median }}</td>
            <td>{{ result.stdDev }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
